
/* light color  */
:root {
    --primary-color: var(--custom-primary); 
    --font-color: #000; 
    --hover-color: rgb(110, 110, 110); 
    --background-color: #e7ecf8;
    --card-color: #fff; 
    --dataTableText-color: rgb(48, 47, 47); 
    --border-color: #ddd; 
}



/* dark color  */
/*:root {*/
/*    --primary-color: #9966ff; */
/*    --font-color: rgb(110, 110, 110); */
/*    --hover-color: rgb(110, 110, 110); */
/*    --background-color: #000;*/
/*    --card-color: #141622;*/
/*    --dataTableText-color: rgb(138, 138, 138); */
/*    --border-color: rgb(68, 68, 68); */
/*}*/