.custom-switch {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin: 0 auto;
}

.column1 {
    float: left;
}

.column2 {
    float: left;
}

.column3 {
    float: left;
}

/* datatable searchbar hidden property */
input.form-control.form-control-sm {
    visibility: hidden !important;
}

/* google authentication */
.panel-heading {
    border-radius: 5px 5px 0 0;
    padding: 18px;
    position: relative;
    box-shadow: 0 -5px 15px rgb(0 0 0 / 8%);
}

.panel-title {
    color: #33353F;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: none;
}

.step {
    float: left;
    border: 2px solid;
    border-radius: 50%;
    font-size: 1.3rem;
    padding: 0px 0px 0px 8px;
    width: 30px;
    height: 30px;
}

.step-title {
    float: left;
    padding: 5px 0px 0px 25px;
}

.auth-app-logo {
    vertical-align: middle;
    height: 64px;
}

.app-input-logo {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

ul {
    list-style-type: none;
}

.inner-app-link {
    padding-left: 1rem;
}

.todo-title {
    line-height: 1.9rem;
}