/* ib-admin-deposit */
/* svg.feather.feather-plus {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    color: #c6c9cd;
    margin-right: 5px;
}

.feather,
[data-feather] {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 2px;
    color: #c6c9cd;
    margin-right: 5px;
} */
/* inner report transaction css */
button#dropdownMenuButton {
    font-size: 1.1rem;
    color: #c1c3c9;
}

.date-picker-padding-controll {
    padding: 0.3rem 1rem !important;
}

/* table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    display: none;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
    display: none;
} */

.dropdown-toggle::after {
    border: none !important;
    content: ' ';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    color: #6e6b7b;
    width: 14px;
    height: 11px;
    position: relative;
    top: 1px;
    right: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    vertical-align: 0;
}

.dt-trader-img.ms-1 {
    width: 210px !important;
    height: 180px;
}
.sender-reciever-tbl {
    border-collapse: separate !important;
}
.payment-table{
    border-collapse: separate !important;
}