/* Rajin CSS Start*/
body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    color: var(--font-color);
}

.container {
    margin: 0 auto;
    padding: 0;
}

.profile_main_content .row {
    /* background-color: var(--card-color); */
    position: relative;
    width: 100%;
    max-width: 1240px;
    padding: 32px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

p {
    font-size: .9rem;
}

.font-weight-bold {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--font-color);
}

h4 {
    font-size: 20px;
}

.upper-profile {
    display: inline-block;
    padding: 20px 0px;
}

.logo>img {
    width: 72px;
    height: 72px;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    background-color: #e3ebf5;
}

img.small-icon {
    position: absolute;
    border: 2px solid #f6f7f8;
    border-radius: 2px;
    top: 75px;
    left: 5px;
}

.profile-about {
    margin-left: 24px;
}

.title>img {
    padding: 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.profile-name {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 8px;
}

.lower-profile {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ladda-button {
    background-color: var(--custom-primary)
}

.lower-profile>button {
    /* background-color: var(--primary-color); */
    border-radius: 4px;
    border: none;
    outline: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .2s;
    cursor: pointer;
    /* color: #fff; */
    line-height: 1;
    font-size: 14px;
    text-decoration: none;
    padding: 2px 24px 0;
    text-transform: uppercase;
}

.lower-profile>p {
    margin-top: 10px;
}

.col-sm-8 {
    width: 100%;
    /* max-width: 660px; */
    text-align: justify;
}

.profile-info {
    width: 100%;
    max-width: 660px;
}

.profile-info-head {
    display: flex;
    flex-wrap: wrap;
}

.profile-info-stat {
    flex: 1 0 auto;
    padding-right: 12px;
    float: left;
}

.state-value {
    width: 26px;
    height: 26px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.state-value>p {
    padding-left: 8px;
    color: white;
    font-size: 1rem;
}

.state-title {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--font-color);
}

.description-title {
    padding-top: 35px;
}

.description-title>h6 {
    font-size: 1.1rem;
    color: #464343;
}

.stat-inner {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

}

.profit_underline {
    display: block;
    background: var(--card-color);
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--primary-color);
}

.profit_underline>p {
    padding: 0;
    margin: 0;
    width: 25%;
    float: left;
    text-align: center;
}

.profit_underline>.space {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
    border-bottom: 2px solid #ffffff;
}

.performance-nav {
    display: flex;
    width: 100%;
    margin-top: 23px;
}

.p-radio {
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 62px;
    width: 20%;
    display: -webkit-inline-box;
}

.p-radio-label {
    cursor: pointer;
    transition: .2s;
    width: 90%;
    font-size: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    color: #212529;
    text-align: center;
    line-height: 1;
    border-radius: 44px;
    margin: -4px 5px;
}

.p-radio-label.active {
    background-color: var(--primary-color);
    color: #fff;
}

input.p-radio-input {
    display: none;
}

.p-radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    padding: 10px;
    margin: 6px;
}

img.tooltip-image {
    margin-left: 6px;
}


.section2 {
    width: 100%;
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.col-sm-6 {
    float: left;
}

.left-section {
    background-color: var(--card-color);
    position: relative;
    padding: 32px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 5px;
    margin-right: 5px;
}

.right-section {
    background-color: var(--card-color);
    position: relative;
    padding: 32px 32px 23px 32px;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 5px;
    margin-left: 5px;
}

.acc-details {
    width: 100%;
    max-width: 660px;
}

.acc-details-head {
    display: flex;
    flex-wrap: wrap;
}

.acc-details-stat {
    flex: 1 0 auto;
    padding-right: 12px;
    float: left;
    width: 50%;
}

#chart {
    max-width: 100%;
    margin: 20px auto;
}

.chart-nav {
    display: flex;
    width: 60%;
    margin-top: 23px;
}

.chart-nav {
    display: flex;
    max-width: 400px;
    margin-top: 23px;
    margin: 0 auto;
}

.nav-container {
    width: 100%;
}

.history-nav {
    display: flex;
    width: 100%;
}

.history-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color) #dee2e6 #fff;
}

.profile-info-description a {
    color: var(--primary-color);
}

.nav-item>a {
    color: var(--font-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
    border: none;
    font-size: .9rem;
    color: var(--font-color);
}

.table-body-custom .active {
    background-color: var(--font-color);
}

.table-body-custom .active td p,
.table-body-custom .active td {
    color: var(--background-color);
}

.table {
    margin-top: 40px;
}

.history-fr {
    max-width: 150px;
}

th.history-fr {
    width: 20%;
}

tbody>tr>td>img {
    padding: 0;
    margin-right: 16px;
    float: left;
}

tbody>tr>td>p {
    margin: 0;
    float: left;
    padding: 3px 13px;
}

.table-dgt {
    width: 52px;
    height: 24px;
    margin: 0;
    float: left;
    padding: 1px 13px;
    background-color: #c8d3e5;
    border-radius: 5px;
}

.table-currency {
    text-transform: uppercase;
}

th.close-time {
    width: 50%;
}

th.close-time-balance {
    width: 65%;
}

.history-more-button {
    width: 150px;
    margin: 0 auto;
}

.ladda-button:hover {
    border-color: rgba(0, 0, 0, 0.07);
    background-color: #95e3dc;
}

.history-more-button>.lower-profile>button {
    background-color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
    th.history-fr {
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    th.history-fr {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    th.history-fr {
        width: 60%;
    }

    li.nav-item {
        font-size: .7rem;
        width: 26%;
    }

    a.nav-link.active.show {
        padding: 5px 5px;
        font-size: .7rem;
    }
}

@media screen and (max-width: 992px) {
    .left-section {
        background-color: var(--card-color);
        position: relative;
        padding: 32px 32px 51px 32px;
        margin-bottom: 10px;
        margin-top: 40px;
        border-radius: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .left-section {
        background-color: var(--card-color);
        position: relative;
        padding: 32px 32px 33px 32px;
        margin-bottom: 10px;
        margin-top: 40px;
        border-radius: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 578px) {
    .left-section {
        background-color: var(--card-color);
        position: relative;
        padding: 32px 32px 33px 32px;
        margin-bottom: 10px;
        margin-top: 40px;
        border-radius: 5px;
        margin-right: 0px;
    }

    .right-section {
        background-color: var(--card-color);
        position: relative;
        padding: 32px 10px 22px 20px;
        margin-bottom: 10px;
        margin-top: 0px;
        border-radius: 5px;
        margin-left: 0px;
    }

    .history-nav {
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    .history-nav-list {
        float: inherit;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {}

/* Rajin CSS END */

.dark-version .trd-row-height.ps-3.pe-3.fx-open-time-con.d-flex.justify-content-between.align-items-center.bg-gradient-faded-light-vertical.mb-3.p-1 {
    background: #191d31 !important;
}

.dark-version .trd-row-height.ps-3.align-items-center.d-flex.close-time-fx.bg-gradient-faded-light-vertical.p-1.mb-3 {
    background: #191d31 !important;
}

.trd-row-height.ps-3.align-items-center.d-flex.duration-fx.bg-gradient-faded-light-vertical.p-1.mb-3 {
    background: #191d31 !important;
}

.trd-row-height.ps-3.align-items-center.d-flex.fx-profit-row.bg-gradient-faded-light-vertical.p-1.mb-3 {
    background: #191d31 !important;
}

.profit_underline>.space {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
    border-bottom: 2px solid transparent;
}

.card-header.border-bottom.text-dark {
    border-color: #181821 !important;
}

.profile_main_content .row {
    /* background-color: var(--card-color); */
    position: relative;
    width: 100%;
    max-width: inherit;
    padding: 32px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

img.small-icon {
    position: absolute;
    border: 2px solid #f6f7f8;
    border-radius: 2px;
    top: 101px;
    left: 40px;
}

.card .card-body {
    font-family: Poppins, sans-serif;
}

/* .profit_underline {
                    display: block;
                    background: var(--card-color);
                    width: 100%;
                    height: auto; */
/* border-bottom: 2px solid var(--primary-color); */
/* background: linear-gradient(to right, #a23060 50%, #344f93 50%) bottom;
                    background-repeat: no-repeat !important;
                    background-size: 100% 2px !important;
                    border-bottom: none;
                } */
.profit_underline {
    border-bottom: none;
}

table.dataTable tbody tr {
    background-color: transparent;
}

.fx-open-time-con.d-flex.justify-content-around.align-items-center.mb-3.p-1 {
    background: #2a2a3c !important;
}

.close-time-fx.bg-gradient-faded-dark-vertical.p-1.mb-3 {
    background: #2a2a3c !important;
}

.duration-fx.bg-gradient-faded-dark-vertical.p-1.mb-3 {
    background: #2a2a3c !important;
}

.fx-profit-row.bg-gradient-faded-dark-vertical.p-1.mb-3 {
    background: #2a2a3c !important;
}

.trd-row-height {
    height: 40px;
    /* background: #2a2a3c !important; */
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::before,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::before,
table.dataTable thead .sorting_desc_disabled::after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
    display: none;
}

#example_wrapper .row:first-child,
#example2_wrapper .row:first-child {
    display: none !important;
}

#example_wrapper .row,
#example2_wrapper .row {
    padding: 0 !important;
}

.multiselect-dropdown-list-wrapper {
    box-shadow: gray 0 3px 8px;
    z-index: 99999 !important;
    padding: 2px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    display: none;
    margin: -1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
}

.left-section {
    background-color: var(--card-color);
    position: relative;
    padding: 32px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 5px;
    margin-right: 5px;
}

.right-section {
    background-color: var(--card-color);
    position: relative;
    padding: 32px 32px 23px 32px;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 5px;
    margin-left: 5px;
}

.card.border-radius-top-end-0.border-radius-top-start-0 {
    box-shadow: none;
}

.card.card_shadow_none {
    box-shadow: none;
}

.card.card_shadow_none .card-header {
    border: none;
}

#historyTab .nav-item,
#myTab .nav-item {
    width: 100%;
}

@media all and (max-width: 767px) {
    .performance-nav {
        overflow: scroll;
    }

    .chart-nav {
        overflow: scroll;
    }

    .moving-tab.position-absolute.nav-link {
        width: 100% !important;
    }

    h4 {
        font-size: 12px;
    }

    .state-title {
        font-size: .7rem;
    }

    .table-response {
        overflow: scroll;
    }
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

    border: none;
    background: inherit;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {

    background: none;
    box-shadow: none;
}

.multiselect-container.dropdown-menu.show {
    width: 100%;
    max-height: 150px;
    overflow: auto;
}

.dropdown-item.multiselect-all.active {
    width: 100%;
    margin-bottom: 1rem;
}

.multiselect-option.dropdown-item.active {
    width: 100%;
    margin-bottom: 3px;
}

.dropdown-item.multiselect-all {
    width: 100%;
    /* margin-bottom: 1rem;
    color: #28c76f; */
    padding-top: 13px;
    font-weight: bold;
}

.dark-version .multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active {
    background-color: #232735 !important;
    color: #000;
}

.dark-version .multiselect-container.dropdown-menu.show {
    background-color: #080910;
}

.multiselect-native-select .btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
}

.dropdown-item.multiselect-all.active {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 8px;
    margin-left: 10px;

}

.multiselect-option.dropdown-item.active {
    width: 100%;
    margin-bottom: 3px;
    margin: 10px;
}

.multiselect-container.dropdown-menu.show {
    width: 100%;
    max-height: 150px;
    overflow: auto;
    overflow-x: hidden !important;
    z-index: 11111;
}